<%- include('partials/header') %>
    
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Patient's Dashboard</a>
      <a class="navbar-brand" href="#profile">Profile</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</header>

<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel"> 
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/reports.jpg" width="100%" height="100%" style="filter: blur(9px); -webkit-filter: blur(9px)">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1 style="color:black;">Welcome! <%=P_Variable.first_name %> <span>
              <%=P_Variable.last_name %>
            </span> </h1>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="images/healthy.jpg" width="100%" height="100%" style="filter: blur(9px); -webkit-filter: blur(9px)">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <div class="container">
          <div class="carousel-caption">
            <h1 style="color:black;">Eat healthy be healthy.</h1>
           </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="images/go-green.png" width="100%" height="100%" style="filter: blur(9px); -webkit-filter: blur(9px)">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1 style="color:black;">Go green.</h1>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="col mb-4" id="profile">
    <div class="card shadow-sm">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
        role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"> Patients personal details</text>
        <image href="images/bg2.webp" width="100%"></image>
      </svg>
      <div class="card-body">
        <p class="card-text"> <b> Patients personal details here... </b></p>
        <p>Patient's name : <%=P_Variable.first_name %> <span>
              <%=P_Variable.last_name %>
            </span> </p>
        <p>Email : <%=P_Variable.email %>
        </p>
        <p>Address : <%=P_Variable.address %>
        </p>
        <p>Country : <%=P_Variable.country %>
        </p>
        <p>State : <%=P_Variable.state %>
        </p>
      </div>
    </div>
  </div>


  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img src="images/reicon.png" width="90px" right="200px">
        <!-- <svg width="140"  class="bd-placeholder-img rounded-circle" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><im><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
        <a href="reports.html" style="color:black"><h2 class="fw-normal">Reports</h2></a>
        <p>Every report made till now.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="images/doc.png" width="90px" right="200px">
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
        <h2 class="fw-normal"><a href="doctor.html" style="color:black">Doctors visited</h2></a>
        <p>Treated by the doctors.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="images/med.png" width="90px" right="200px">
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
        <h2 class="fw-normal"><a href="/healthform" style="color:black">Submit a General Health Report</h2></a>
        <p>Fill a form</p>
        
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    

  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#top" style="color:black">Back to top</a></p>
  </footer>
</main>


<script src="scripts/bootstrap.bundle.min.js"></script>

      
    <%- include('partials/header') %>
