<%- include('partials/header') %>


  <main id="bg_img">

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light"><b>Reports Of Patients</b></h1>
        </div>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">

        <% docs.forEach(function(user){ %>
          <div class="col mx-auto mb-4">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                  dy=".3em">Thumbnail</text>
                <image href="images/slot.jpg" width="100%" height="100%"></image>
              </svg>
              <div class="card-body">
                <p class="card-text"> <b>Report</b> </p>
                <p> <i> Username : <%=user.username %> </i>
                </p>
                <p>Symptoms : ruser.symptoms</p>
                <p> Injury : <%= user.injury %>
                </p>
                <p> Pain : <%= user.pain %>
                </p>
                <p> Tests : <%= user.tests %>
                </p>
                <!-- <p> Allegies : 
                </p> -->
                <p> High cholestrol : <%= user.high_cholestrol%>
                </p>
                <p> High Blood Pressure : <%= user.hbp%>
                </p>
                <p> Heart Problem : <%= user.heart_problem %>
                </p>
                <p> Depression : <%= user.depression %>
                </p>
                <p> Diabetes : <%= user.diabetes %>
                </p>
                <p> Astma : <%= user.astma %>
                </p>
                <p> Smoke : <%= user.smoke %>
                </p>
              </div>
            </div>
          </div>
          <%}) %>

      </div>
    </div>

  </main>


  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>


  <%- include('partials/footer') %>